@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');

* {
    scroll-behavior: smooth !important;
}

.ff_inter {
    font-family: 'Inter', sans-serif;
}

.ff-jost {
    font-family: 'Jost', sans-serif;
}

@font-face {
    font-family: 'gilroy';
    src: url('./assets/font/Gilroy-Light.otf');
}

.ff-gilroy {
    font-family: 'gilroy';
}

@font-face {
    font-family: 'konexy';
    src: url('./assets/font/konexypersonaluse.otf');
}

.ff-konexy {
    font-family: 'konexy';
}

.slick-track {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}